* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  background: #FFFFFF;
  box-shadow: 0px 0.2px 0.4px rgba(0, 0, 0, 0.1);
  border-radius: 0.6px;
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%);
  margin-top: -12rem;
}