* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  height: 100vh;
}

body, button, input {
  font-family: "DM Sans", sans-serif;
}

main {
  background: #FFFFFF;
  box-shadow: 0px 0.2px 0.4px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%);
  margin-top: -12rem;
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h1, p {
  color: #34355B;
}

p {
  opacity: 0.8;
}

form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input, button {
  border: none;
  padding: 1.6rem;
}

input {
  background-color: #DCE2E9;
  width: 7rem;
  border-radius: 0.4rem 0 0 0.4rem;
}

button {
  background-color: #7879F1;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 0 0.4rem 0.4rem 0;
}